{% extends 'posts/base.html' %} {% block content %}
<!--        item filter-->
<br />
<h1>상세페이지</h1>
<br />
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<div>
  <h1>제목, 작성자, 날짜, 사라, 마라, 댓글, 조회수</h1>
</div>
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<br />
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<div>
  <h1>사진들</h1>
  <br />
  <h1>사진들</h1>
  <br />
  <h1>사진들</h1>
  <br />
  <h1>카테고리</h1>
  <br />
  <h1>브랜드</h1>
  <br />
  <h1>가격</h1>
  <br />
  <h1>링크</h1>
  <br />
  <h1>고민하는 이유</h1>
  <br />
  <h1>투표공간</h1>
  <h1>{{ post.title }}</h1>
  <h2>{{ post.content }}</h2>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  <form action="{% url 'posts:vote' post.id %}" method="post">
    {% csrf_token %} {% for choice in post.choice_set.all %}
    <input
      type="radio"
      name="choice"
      id="choice{{ forloop.counter }}"
      value="{{ choice.id }}"
    />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label
    ><br />
    {% endfor %}
    <input type="submit" value="Vote" />
  </form>
  <br />

  <h1>투표결과</h1>
  <ul>
    {% for choice in post.choice_set.all %}
    <li>
      {{ choice.choice_text }} -- {{ choice.votes }}
    </li>
    {% endfor %}
  </ul>

  <br />
  <h1>공유하기</h1>
</div>
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<div>
  <h1>빈 공간</h1>
</div>
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<!--        댓글 공간-->
<div>
  <h1>댓글창 with pagination</h1>
  <br />
  <br />
  <br />
  <h1>댓글작성창</h1>
</div>
<!--        댓글 공간-->

{% endblock %}
