{% extends 'posts/base.html' %} {% block content %} {% load static %}
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>
<!--        item filter-->
<br />
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<div>
  <h1>제목, 작성자, 날짜, 사라, 마라, 댓글, 조회수</h1>
</div>
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<br />
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<div>
  <h1>제목 : {{ post.title }}</h1>
  <br />
  <p>카테고리 : {{ post.category }}</p>
  <br />
  <p>가격 : {{ post.price }}</p>
  <br />
  <p>브랜드 : {{ post.brand }}</p>
  <br />
  <p>링크 : {{ post.link }}</p>
  <br />
  <p>{{ post.content }}</p>

  {{ post.ckcontent|safe }}

  <h1>투표공간</h1>

  <!-- bootstrp 써서 색깔? 같은거 하고, a:click 은 색깔 칠해진걸로 해서 투표 한걸 보이게끔 버튼 변경 css 부분 -->
  {{user.username}}
  <br />
  <button onclick="location.href='?sara={{user.username}}';" class="sarabtn">
    사라
  </button>
  <h1>{{ post.sara_cnt }}</h1>
  <br />

  <button onclick="location.href='?mara={{user.username}}';" class="marabtn">
    마라
  </button>
  <h1>{{ post.mara_cnt }}</h1>
  <br />

  <br />
  <h1>공유하기</h1>
</div>
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<div>
  <h1>빈 공간</h1>
</div>
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<!--        댓글 공간-->
<div>
  <h1>댓글창 with pagination</h1>
  <br />
  <br />
  <br />
  <h1>댓글작성창</h1>
</div>
<!--        댓글 공간-->

{% endblock %}
