/* .gallery {
  width: 100%;
  height: 0px;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.gallery img {
  position: absolute;
  animation: gallery 20s infinite;
  opacity: 0;
  width: 100%;
  height: auto;
}

@keyframes gallery {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
.gallery img:nth-child(4) {
  animation-delay: 0s;
}
.gallery img:nth-child(3) {
  animation-delay: 5s;
}
.gallery img:nth-child(2) {
  animation-delay: 10s;
}
.gallery img:nth-child(1) {
  animation-delay: 15s;
}

/* ################################################################################### */

/* * {
  box-sizing: border-box;
} */

/* Slideshow container */
/* .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
/* .mySlides {
  display: none;
} */

/* Next & previous buttons */
/* .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

/* ################################################################################### */

/* default tag */
p > img {
  width: 100% !important;
  height: auto !important;
}

header {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  /* display: inline-flex; */
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 80px;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  outline-style: solid;
  outline-color: #594231;
  text-align: center;
  font-size: 20px;
  color: black;
  z-index: 1;
}
h1 {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  display: block;
  font-size: 5px;
  margin: 0 auto;
}
p {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
/* default tag */

/* index.html */

#search-button {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  text-align: right;
  font-size: 20px;
  max-width: 400px;
  cursor: pointer;
}

.items-sort {
  outline-style: solid;
  outline-color: #594231;
  max-width: 400px;
  margin: 0 auto;
}

.ask-list {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  text-align: right;
  font-size: 20px;
}

.single-item {
  outline-style: solid;
  outline-color: #594231;
  /* background-color: #ffffb1; */
  height: 50px;
  font-size: 10px;
}

.pagination {
  /* margin: 0 auto;
  text-align: center; */
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 1px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.step-link {
  display: inline-block;
  max-width: 400px;
  height: 100px;
}
/* index.html */

/* ask.html */
.ask-wrap {
  max-width: 400px;
  margin: auto;
}
/* ask.html */

/* a href */
a {
  color: #594231;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #594231;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #594231;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #594231;
  text-decoration: none;
}
/* selected link */
a:active {
  color: #594231;
  text-decoration: none;
}
/* a href */

/* user defined tag */
a.main_home {
  color: #594231;
  text-decoration: none;
  width: 300px;
  font-size: 40px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.main_home_user {
  color: #594231;
  text-decoration: none;
  font-size: 20px;
  /* display: inline-flex; */
}
/* user defined tag */

textarea {
  width: 98%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
