header {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  display: inline-flex;
  /* text-align: left; */
  /* font-size: 7vw; */
}

footer {
  outline-style: solid;
  outline-color: #594231;
  text-align: center;
  font-size: 20px;
  color: black;
  z-index: 1;
}

h1 {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  display: block;
  font-size: 5px;
  margin: 0 auto;
}

p {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

/* ################################################################################################################## */
/* ################################################################################################################## */
/* ################################################################################################################## */
/* 리스트 페이지 */

.user_info_area {
  width: 255px;
  display: inline-flex;
  text-align: right;
  font-size: 20px;
}

#search-button {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  text-align: right;
  font-size: 2vw;
  max-width: 360px;
  cursor: pointer;
}

.items-sort {
  outline-style: solid;
  outline-color: #594231;
  width: 98%;
  margin: 0 auto;
}

.ask-list {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  text-align: right;
  font-size: 2vw;
}

.single-item {
  outline-style: solid;
  outline-color: #594231;
  background-color: #ffffb1;
  height: 100px;
  font-size: 1vw;
}

.pagination {
  /* margin: 0 auto;
  text-align: center; */
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 1px;
  text-decoration: none;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.step-link {
  display: inline-block;
  max-width: 360px;
  height: 100px;
}

/* ################################################################################################################## */
/* ################################################################################################################## */
/* ################################################################################################################## */
/* 질문 페이지 */

.ask-wrap {
  width: 98%;
  margin: 0 auto;
}

.item-ask {
  height: 200px;
}

/* The container must be positioned relative: */
/* 위치만 지정해주는 div 이고, 실제 select 가 변경되려면 아래에 .custom-select select 부분을 변경해야 함 */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: block;
  height: 25px;

  width: 100%;
  max-width: 1000px;
  font-size: 3vw;
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.ask-button {
  display: block;
  margin: auto;
  height: 50px;
  width: 100px;
  font-size: 3vw;
}

/* ################################################################################################################## */
/* ################################################################################################################## */
/* ################################################################################################################## */
/* 마이 페이지 */

.tab-wrap {
  width: 98%;
  margin: 0 auto;
}

.tab-left-wrap {
  outline-style: solid;
  outline-color: #594231;
  text-align: left;
  width: 22%;
  display: inline-block;
  height: 200px;
}

.tab-right-wrap {
  outline-style: solid;
  outline-color: #594231;
  text-align: center;
  width: 76%;
  display: inline-block;
  height: 200px;
}

.tab-right-out {
  display: inline;
  /* width: 100%; */
}

#logout {
  /* width: 30%; */
  display: inline;
}

/* Style the tab */
.tab {
  float: left;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: right;
  width: 100%;
  height: 100%;
}

/* ################################################################################################################## */
/* ################################################################################################################## */
/* ################################################################################################################## */
/* ahref 용 페이지 */

a {
  color: #594231;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #594231;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #594231;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #594231;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #594231;
  text-decoration: none;
}

a.main_home {
  color: #594231;
  text-decoration: none;
  font-size: 20px;
  width: 100px;
}

a.main_home_user {
  color: #594231;
  text-decoration: none;
  font-size: 20px;
  display: inline-flex;
}
