{% extends 'posts/base.html' %} {% block content %} {% load static %}

<br />
<div class="ask-wrap">
  <br />
  <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %} {{ form.media }}

    <br /><br /><br /><br />

    <label for="id_item_image">사진을 선택해주세요</label>

    <input
      type="file"
      name="item_image"
      multiple
      accept="image/*"
      id="gallery-photo-add"
    />

    <br /><br />

    <div class="gallery" id="id_item_image"></div>

    <br /><br />

    {{ form.as_p }}

    <br /><br />

    <button type="submit" id="submit_ask" class="btn btn-primary">
      사라마라 질문하기
    </button>
  </form>

  <br />
</div>
{% endblock %}
