<!DOCTYPE html>
<html style="background-color: black">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사라마라</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      Kakao.init("{{ javascript_sdk_key | safe }}");
    </script>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'posts/styles.css' %}"
    />
    <style>
      .imageSize {
        height: 100px;
        width: 100px;
      }
    </style>
  </head>

  <body
    style="
      display: block;
      background-color: white;
      outline-color: #594231;
      outline-style: solid;
      max-width: 400px;
      padding: 10px;
      margin: auto;
    "
  >
    <header>
      <a class="main_home" href="{% url 'posts:index' %}">사라마라</a>

      {% if user.is_authenticated %}

      <a
        class="main_home_user"
        style="
          font-size: 20px;
          font-weight: bold;
          vertical-align: middle;
          vertical-align: middle;
          text-align: center;
        "
        href="{% url 'posts:mypage' %}"
      >
        <img
          src="{{ user.profile_image.url }}"
          style="
            width: 29px;
            height: 29px;
            border: 1px solid #000;
            border-radius: 30px;
          "
        />
        {% comment %}
        <p>{{ user.username}}</p>
        {% endcomment %}
      </a>

      {% else %}

      <div class="user_info_area">
        <a id="custom-login-btn" href="javascript:loginWithKakao()">
          <img
            src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
            width="120"
          />
        </a>
      </div>

      {% endif %}
    </header>

    {% block content %} {% endblock %}

    <footer>
      <h3>
        copyright 사라마라<br />
        saramara@kakao.com
      </h3>
    </footer>

    {% csrf_token %}
    <script>
      function loginWithKakao() {
        console.log(Kakao.isInitialized());
        console.log(Kakao.Auth.getAccessToken());
        if (!Kakao.Auth.getAccessToken()) {
          // 로그인
          Kakao.Auth.login({
            // authObj : accessToken, type, expires_in, scope 등 포함
            success: function (authObj) {
              // alert('login success: ' + JSON.stringify(authObj)),
              // 유저 인포 불러오기
              Kakao.API.request({
                url: "/v2/user/me",
                success: function (res) {
                  var LOGIN_INFO = JSON.stringify(authObj);
                  var USER_INFO = JSON.stringify(res);
                  var current_url =
                    $(location).attr("pathname") + "kakao_login/";
                  console.log(current_url);
                  $.ajax({
                    type: "POST",
                    // url: current_url,
                    url: "/kakao_login/",
                    dataType: "json",
                    //csrfmiddlewaretoken: '{{ csrf_token }}',
                    data: { LOGIN_INFO: LOGIN_INFO, USER_INFO: USER_INFO },
                  }).done(function (res) {
                    alert(Object.keys(res).length);
                    if (Object.keys(res).length == 1) {
                      window.location.replace(
                        "http://127.0.0.1:8000/upload_image/"
                      );
                    } else {
                      location.reload();
                    }
                  });
                },
              });
            },
            fail: function (err) {
              alert("failed to login: " + JSON.stringify(err));
            },
          });
        }
      }

      function logoutWithKakao() {
        console.log(Kakao.Auth.getAccessToken()); //before Logout
        Kakao.Auth.logout(function () {
          console.log(Kakao.Auth.getAccessToken()); //after Logout
          $.ajax({
            type: "POST",
            url: "/kakao_logout/",
          }).done(function () {
            location.reload();
          });
        });
      }

      function unlinkApp() {
        console.log(Kakao.Auth.getAccessToken());
        Kakao.API.request({
          url: "/v1/user/unlink",
          success: function (res) {
            Kakao.Auth.setAccessToken(undefined);
            console.log(Kakao.Auth.getAccessToken());
            $.ajax({
              type: "POST",
              url: "/kakao_unlink/",
            }).done(function () {
              location.reload();
            });
            alert("success: " + JSON.stringify(res));
          },
          fail: function (err) {
            alert("fail: " + JSON.stringify(err));
          },
        });
      }

      function profileWithKakao() {
        Kakao.API.request({
          url: "/v2/user/me",
          success: function (response) {
            console.log(response);
            document.getElementById("userid").innerText = response.id;
            document.getElementById("nickname").innerText =
              response.kakao_account.profile.nickname;
            document.getElementById("profile_image").src =
              response.properties.profile_image;
            document.getElementById("thumbnail_image").src =
              response.properties.thumbnail_image;
          },
          fail: function (error) {
            console.log(error);
          },
        });
      }
    </script>
    <script>
      $("#plz_login_sara").click(function () {
        alert("이건 사야한다!! 투표하려면 로그인을 해주세요");
      });
    </script>
    <script>
      $("#plz_login_mara").click(function () {
        //var current_url = $(location).attr("pathname") + "add_comment/";
        console.log("뭐지?");
        alert("이건 절대아니다!! 투표하려면 로그인을 해주세요");
        //$.ajax({
        //  alert("사라 마라 하려면 로그인을 해주세요");
        //});
      });
    </script>

    <script>
      $("#sarabutton").click(function () {
        var current_url = $(location).attr("pathname"); // + "sara/";
        var saramara_data = "sara";
        $.ajax({
          type: "POST",
          url: current_url,
          data: { saramara_input: saramara_data },
        }).done(function () {
          location.reload();
        });
      });
    </script>

    <script>
      $("#marabutton").click(function () {
        var current_url = $(location).attr("pathname"); // + "mara/";
        var saramara_data = "mara";
        $.ajax({
          type: "POST",
          url: current_url,
          data: { saramara_input: saramara_data },
        }).done(function () {
          location.reload();
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#vote-result").click(function () {
          $("div.vote-result-area").slideToggle(1000);
        });
      });
    </script>
    <br />
    <br />
    <script>
      var current_url = $(location).attr("href");
      console.log(current_url);
      Kakao.Link.createDefaultButton({
        container: "#create-kakao-link-btn",
        objectType: "feed",
        content: {
          title: "포스트 제목을 여기에 가져와야 함",
          description:
            "여기에는 포스트 ckcontent 가져와야 함 #사라 #마라 #사이트 #테스트 #해쉬태그를 해야하나",
          imageUrl:
            "https://cdn.pixabay.com/photo/2018/06/04/00/29/women-3452067_1280.jpg",
          link: {
            // mobileWebUrl: "https://developers.kakao.com",
            // webUrl: "https://developers.kakao.com",
            mobileWebUrl: current_url,
            webUrl: current_url,
          },
        },
        social: {
          likeCount: 286, // 이걸 사라, 마라, 댓글, 조회수, 공유수 로 바꿀수가 있나?
          commentCount: 45,
          sharedCount: 845,
        },
        /*buttons: [
      {
        title: "웹으로 보기",
        link: {
          mobileWebUrl: "https://developers.kakao.com",
          webUrl: "https://developers.kakao.com",
        },
      },
      {
        title: "앱으로 보기",
        link: {
          mobileWebUrl: "https://developers.kakao.com",
          webUrl: "https://developers.kakao.com",
        },
      },
    ],*/
      });
    </script>
    <br />
    <br />
    <script
      type="text/javascript"
      src="{% static 'ckeditor/ckeditor-init.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
    ></script>
  </body>
</html>
