{% extends 'posts/base.html' %} {% block content %} {% load static %}

<br /><br /><br /><br />

<div>
  <h1>
    <div style="font-size: 25px; font-weight: bold">
      {{ post.title | upper}}
    </div>
    <br />
    <a
      class="main_home_user"
      style="
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        vertical-align: middle;
        text-align: center;
        display: inline-flex;
      "
    >
      <img
        src="{{ post.author.profile_image.url }}"
        style="
          width: 29px;
          height: 29px;
          border: 1px solid #000;
          border-radius: 30px;
        "
      />
      <p>{{ post.author.username}}</p>
    </a>
    <div style="font-size: 13px; font-weight: bold">
      사라{{post.sara_cnt}} 마라{{post.mara_cnt}} 댓글{{post.comment_cnt}}
      조회{{post.view_cnt}}
    </div>
    <br />
    <div style="font-size: 11px; font-weight: bold">{{post.get_pub_date}}</div>
  </h1>
</div>

{% if user.is_authenticated %} {% if post.author.id == user.id %}
<input
  type="submit"
  name="delete_post_button"
  value="삭제"
  class="btn"
  onclick="DeletePost('{{post.id}}')"
/>
<a class="edit_post" href="{% url 'posts:edit' post.id  %}">
  <input type="submit" name="edit_post_button" value="수정" class="btn" />
</a>

<br />

{% endif %} {% endif %}

<br />

<div class="ckbody">
  <p>카테고리 : {{ post.category }}</p>
  <br />
  <p>가격 : {{ post.price }}</p>
  <br />
  <p>브랜드 : {{ post.brand }}</p>
  <br />
  <p>링크 : {{ post.link }}</p>
  <br />
  <p>{{ post.content }}</p>
  <br />
  {% for image in images %}
  <img src="{{ image.item_image.url }}" style="width: 100%; height: auto" />
  {% endfor %}
  <p>{{ post.ckcontent|safe }}</p>

  <h1>투표공간</h1>

  <!-- bootstrp 써서 색깔? 같은거 하고, a:click 은 색깔 칠해진걸로 해서 투표 한걸 보이게끔 버튼 변경 css 부분 -->

  <br />
  {% if user.is_authenticated %}
  <input
    id="sarabutton"
    type="submit"
    name="sara_button"
    value="이건사야지"
    class="btn btn-primary"
  />
  {% else %}
  <input
    id="plz_login_sara"
    type="submit"
    name="sara_button"
    value="이건사야지"
    class="btn btn-primary"
  />
  {% endif %}

  <br />
  {% if user.is_authenticated %}
  <input
    id="marabutton"
    type="submit"
    name="mara_button"
    value="이건아니지"
    class="btn btn-primary"
  />
  {% else %}
  <input
    id="plz_login_mara"
    type="submit"
    name="mara_button"
    value="이건아니지"
    class="btn btn-primary"
  />
  {% endif %}

  <input
    type="submit"
    class="btn btn-primary"
    id="vote-result"
    value="결과보기"
  />

  <div class="vote-result-area" style="display: none">
    <form method="GET" action=".">
      <div class="items-sort">
        <h2>사라!! : {{ post.sara_cnt }}</h2>
        <h2>마라!! : {{ post.mara_cnt }}</h2>
        <h3>사라한사람 : {{ post.sara }}</h3>
        <h3>마라한사람 : {{ post.mara }}</h3>
        <h3>
          여기 아이디 적히는 사람들의 유저 정보중 성별/생년월일을 가져와야 함
          로그인 해야 결과 보는걸로 바꿔야 함
        </h3>
      </div>
      <br />
      <br />
    </form>
  </div>
  <br />
  <h1>공유하기</h1>
</div>

<br />

<a id="create-kakao-link-btn" href="javascript:shareWithKakao();">
  <img
    src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
  />
</a>

<div>
  <h1>댓글창 with pagination</h1>

  {% for element in comment %} author {{element.author.id}} <br />
  <div class="comment_{{element.id}}">
    user {{user.id}} <br />
    <strong>{{element.author}}</strong> <br />
    <div class="text">
      <p>{{element.text|linebreaks}}</p>
    </div>
    -
    <p class="created_date">{{element.get_created_date}}</p>

    <br />

    {% if element.author.id == user.id %}
    <div class="edit_delete_button">
      <input
        type="submit"
        value="삭제"
        class="btn"
        onclick="DeleteComment('{{element.id}}')"
      />

      <input
        type="submit"
        value="수정"
        class="btn"
        onclick="EditCommentBox('{{element.id}}')"
      />
    </div>
    <div class="edit_button_{{element.id}}" style="display: none">
      <input
        type="submit"
        name="edit_comment_button"
        value="댓글수정"
        class="btn"
        id="edit_comment_button"
        onclick="EditComment('{{element.id}}')"
      />
    </div>
  </div>
  {% endif %} {% empty %}
  <p>살지 말지 고민을 해결해주세요 :)</p>

  {% endfor %}
  <br />

  {% if user.is_authenticated %}
  <h1>댓글작성창</h1>

  <br />

  <textarea
    id="comment_input"
    rows="4"
    name="add_comment"
    placeholder="당신의 의견을 말해주세요"
  ></textarea>

  <br />
  <input
    id="add_comment_button"
    type="submit"
    name="add_comment_button"
    value="댓글달기"
    class="btn btn-primary"
  />
  {% else %}
  <textarea
    id="comment_input"
    rows="4"
    cols="40"
    name="add_comment"
    placeholder="로그인 후 당신의 의견을 말해주세요"
  ></textarea>

  <br />

  <a id="custom-login-btn" href="javascript:">
    <img
      src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
      width="120"
    />
  </a>

  {% endif %}

  <br /><br /><br /><br />
</div>
{% endblock %}
