{% extends 'posts/base.html' %} {% block content %} {% load static %}
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>
<!--        item filter-->
<br />
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<div>
  <h1>
    {{ post.title | upper}} <br />
    {{ post.author }} | 사라-{{post.sara_cnt}} 마라-{{post.mara_cnt}} 댓글수-{% comment %} post별로 댓글 수 도 확인해야함{% endcomment %}
    조회수-{{post.view_cnt}} <br />
    작성일 {{post.pub_date}}
  </h1>
</div>

<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<br />
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<div>
  <p>작성자 : {{ post.author }}</p>
  <br />
  <p>제목 : {{ post.title }}</p>
  <br />
  <p>카테고리 : {{ post.category }}</p>
  <br />
  <p>가격 : {{ post.price }}</p>
  <br />
  <p>브랜드 : {{ post.brand }}</p>
  <br />
  <p>링크 : {{ post.link }}</p>
  <br />
  <p>{{ post.content }}</p>

  <p>{{ post.ckcontent|safe }}</p>

  <h1>투표공간</h1>

  <!-- bootstrp 써서 색깔? 같은거 하고, a:click 은 색깔 칠해진걸로 해서 투표 한걸 보이게끔 버튼 변경 css 부분 -->


  


  <br />
  {% if user.is_authenticated %}
    <input
      id = "sarabutton"
      type="submit"
      name="sara_button"
      value="이건사야지"
      class="btn btn-primary"
    />
  {% else %}
    <input
      id="plz_login_sara"
      type="submit"
      name="sara_button"
      value="이건사야지"
      class="btn btn-primary"
    />  
  {% endif %}
  <script>
    $("#plz_login_sara").click(function () {
      //var current_url = $(location).attr("pathname") + "add_comment/";
      console.log("뭐지?")
      alert("이건 사야한다!! 투표하려면 로그인을 해주세요");
      //$.ajax({
      //  alert("사라 마라 하려면 로그인을 해주세요");
      //});
    });
  </script>
  <br />
  {% if user.is_authenticated %}
    <input
      id = "marabutton"
      type="submit"
      name="mara_button"
      value="이건아니지"
      class="btn btn-primary"
    />
  {% else %}
    <input
      id="plz_login_mara"
      type="submit"
      name="mara_button"
      value="이건아니지"
      class="btn btn-primary"
    />  
  {% endif %}
<script>
    $("#plz_login_mara").click(function () {
      //var current_url = $(location).attr("pathname") + "add_comment/";
      console.log("뭐지?")
      alert("이건 절대아니다!! 투표하려면 로그인을 해주세요");
      //$.ajax({
      //  alert("사라 마라 하려면 로그인을 해주세요");
      //});
    });
  </script>


  <br />
  <script>
    $("#sarabutton").click(function () {
      var current_url = $(location).attr("pathname") + "sara/";
      var saramara_data = "sara"
      $.ajax({
        url: current_url, 
        data: { saramara_input: saramara_data },
      }).done(function() {
        location.reload();
        //$("#comment_input").val("");
      });
    });
  </script>
  <script>
    $("#marabutton").click(function () {
      var current_url = $(location).attr("pathname") + "mara/";
      var saramara_data = "mara"
      $.ajax({
        url: current_url, 
        data: { saramara_input: saramara_data },
      }).done(function() {
        location.reload();
        //$("#comment_input").val("");
      });
    });
  </script>
  {% comment %} {% if user.is_authenticated %}
  <form method="POST" action=".">
    {% csrf_token %}
    <input
      type="submit"
      name="mara_button"
      value="이건아니지"
      class="btn btn-primary"
    />
  </form>
  {% else %}alert 로그인하세요 
  카카오로그인 자동연결 

  <form method="POST" action="{% url 'posts:signin' %}">
    {% csrf_token %}
    <input
      type="submit"
      name="sara_button"
      value="이건아니지"
      class="btn btn-primary"
    />
  </form>
  {% endif %} {% endcomment %}



  {% comment %} <form action="{% url guestbook-post %}" method="POST" onsubmit="return validate()">

  <script>
  function validate()
  {
  // do some validation here to decide whether the post is going to be successful or not.
  if (valid)
  {
    alert("Going to post your data now!");
    return true;
  }
  else
  {
    return false; // form won't post
  }
  }
  </script> {% endcomment %}

  <!-- <button onclick="location.href='?sara={{user.username}}';" class="sarabtn">
    사라
  </button> -->
  {% comment %}
  <h2>count : {{ post.sara_cnt }}</h2>
  <br />

  <!-- <button onclick="location.href='?mara={{user.username}}';" class="marabtn">
    마라
  </button> -->
  <h2>count : {{ post.mara_cnt }}</h2>
  <br />
  <br />{% endcomment %}
  <br />
  <br />
  <br />

  <script>
    $(document).ready(function () {
      $("#vote-result").click(function () {
        $("div.vote-result-area").slideToggle(1000);
      });
    });
  </script>

  <input
    type="submit"
    class="btn btn-primary"
    id="vote-result"
    value="결과보기"
  />

  <div class="vote-result-area" style="display: none">
    <form method="GET" action=".">
      <div class="items-sort">
        <h2>사라!! : {{ post.sara_cnt }}</h2>
        <h2>마라!! : {{ post.mara_cnt }}</h2>
        <h3>사라한사람 : {{ post.sara }}</h3>
        <h3>마라한사람 : {{ post.mara }}</h3>
        <h3>
          여기 아이디 적히는 사람들의 유저 정보중 성별/생년월일을 가져와야 함
          로그인 해야 결과 보는걸로 바꿔야 함
        </h3>
      </div>
      <br />
      <br />
    </form>
  </div>

  <br />
  <br />
  <br />
  <br />
  <h1>공유하기</h1>
</div>
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<a id="create-kakao-link-btn" href="javascript:;">
  <img
    src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
  />
</a>
<script type="text/javascript">
  var current_url = $(location).attr("href");
  console.log(current_url);
  Kakao.Link.createDefaultButton({
    container: "#create-kakao-link-btn",
    objectType: "feed",
    content: {
      title: "포스트 제목을 여기에 가져와야 함",
      description:
        "여기에는 포스트 ckcontent 가져와야 함 #사라 #마라 #사이트 #테스트 #해쉬태그를 해야하나",
      imageUrl:
        "https://cdn.pixabay.com/photo/2018/06/04/00/29/women-3452067_1280.jpg",
      link: {
        // mobileWebUrl: "https://developers.kakao.com",
        // webUrl: "https://developers.kakao.com",
        mobileWebUrl: current_url,
        webUrl: current_url,
      },
    },
    social: {
      likeCount: 286, // 이걸 사라, 마라, 댓글, 조회수, 공유수 로 바꿀수가 있나?
      commentCount: 45,
      sharedCount: 845,
    },
    /*buttons: [
      {
        title: "웹으로 보기",
        link: {
          mobileWebUrl: "https://developers.kakao.com",
          webUrl: "https://developers.kakao.com",
        },
      },
      {
        title: "앱으로 보기",
        link: {
          mobileWebUrl: "https://developers.kakao.com",
          webUrl: "https://developers.kakao.com",
        },
      },
    ],*/
  });
</script>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<div>
  <h1>빈 공간</h1>
</div>
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<!--        댓글 공간-->
<div>
  <h1>댓글창 with pagination</h1>
  <!-- {{comment}} -->

  {% for element in comment %} author {{element.author.id}} <br />
  user {{user.id}} <br />
  <strong>{{element.author}}</strong> <br />
  {{element.text}} - {{element.created_date}} <br />

  {% if element.author.id == user.id %}
  <form method="POST" action=".">
    {% csrf_token %}
    <button>수정</button>
    <input type="hidden" value="{{element.id}}" name="delete_comment" />
    <input
      type="submit"
      name="delete_comment_button"
      value="삭제"
      class="btn"
    />
    <br />
  </form>
  {% endif %}
  {% empty %} 
    <p>살지 말지 고민을 해결해주세요 :)</p>

  {% endfor %}
  <br />
  <br />
  <br />
  <br />
  <br />
 
  {% if user.is_authenticated %}
    <h1>댓글작성창</h1>
    <!-- <input type="text" name="add_comment" size="100" height="100"><br><br> -->
    <textarea
    id="comment_input"
    rows="4"
    cols="3"
    name="add_comment"
    placeholder="당신의 의견을 말해주세요"
    ></textarea>
    <br />
    <input
      id="add_comment_button"
      type="submit"
      name="add_comment_button"
      value="댓글달기"
      class="btn btn-primary"
    />    
  {% else %}
  
    <!-- <input type="text" name="add_comment" size="100" height="100"><br><br> -->
    <textarea
    id="comment_input"
    rows="4"
    cols="130"
    name="add_comment"
    placeholder="로그인 후 당신의 의견을 말해주세요"
    ></textarea>
    <br />
    <a id="custom-login-btn" href="javascript:loginWithKakao()">
    <img
      src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
      width="150"
    />
    </a>
  
  {% endif %}



  <script>
    $("#add_comment_button").click(function () {
      var comment_input = $("#comment_input").val();
      var current_url = $(location).attr("pathname") + "add_comment/";
      $.ajax({
        url: current_url, //"/add_comment/",
        data: { comment_input: comment_input },
      }).done(function() {
        location.reload();
        $("#comment_input").val("");
      });
    });
  </script>


  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>

{% endblock %}
