{% extends 'posts/base.html' %} {% block content %} {% load static %}
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>
<!--        item filter-->
<br />
<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<div>
  <h1>제목, 작성자, 날짜, 사라, 마라, 댓글, 조회수</h1>
</div>

<!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
<br />
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<div>
  <h1>제목 : {{ post.title }}</h1>
  <br />
  <p>카테고리 : {{ post.category }}</p>
  <br />
  <p>가격 : {{ post.price }}</p>
  <br />
  <p>브랜드 : {{ post.brand }}</p>
  <br />
  <p>링크 : {{ post.link }}</p>
  <br />
  <p>{{ post.content }}</p>

  <p>{{ post.ckcontent|safe }}</p>

  <h1>투표공간</h1>

  <!-- bootstrp 써서 색깔? 같은거 하고, a:click 은 색깔 칠해진걸로 해서 투표 한걸 보이게끔 버튼 변경 css 부분 -->

  <br />
  {% if user.is_authenticated %}
  <form method="POST" action=".">
    {% csrf_token %}
    <input
      type="submit"
      name="sara_button"
      value="이건사야지"
      class="btn btn-primary"
    />
  </form>
  {% else %}
  <form method="POST" action="{% url 'posts:signin' %}">
    {% csrf_token %}
    <input
      type="submit"
      name="sara_button"
      value="이건사야지"
      class="btn btn-primary"
    />
  </form>
  {% endif %}

  <br />
  {% if user.is_authenticated %}
  <form method="POST" action=".">
    {% csrf_token %}
    <input
      type="submit"
      name="mara_button"
      value="이건아니지"
      class="btn btn-primary"
    />
  </form>
  {% else %}
  <form method="POST" action="{% url 'posts:signin' %}">
    {% csrf_token %}
    <input
      type="submit"
      name="sara_button"
      value="이건아니지"
      class="btn btn-primary"
    />
  </form>
  {% endif %}

  <!-- <button onclick="location.href='?sara={{user.username}}';" class="sarabtn">
    사라
  </button> -->
  <h2>count : {{ post.sara_cnt }}</h2>
  <br />

  <!-- <button onclick="location.href='?mara={{user.username}}';" class="marabtn">
    마라
  </button> -->
  <h2>count : {{ post.mara_cnt }}</h2>
  <br />

  <br />
  <h1>공유하기</h1>
</div>
<!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<div>
  <h1>빈 공간</h1>
</div>
<br />
<!--        현재의 빈 공간 / 미래의 광고창-->
<!--        댓글 공간-->
<div>
  <h1>댓글창 with pagination</h1>
  <!-- {{comment}} -->

  {% for element in comment %} author {{element.author.id}} <br />
  user {{user.id}} <br />
  <strong>{{element.author}}</strong> <br />
  {{element.text}} - {{element.created_date}} <br />

  {% if element.author.id == user.id %}
  <form method="POST" action=".">
    {% csrf_token %}
    <button>수정</button>
    <input type="hidden" value="{{element.id}}" name="delete_comment" />
    <input
      type="submit"
      name="delete_comment_button"
      value="삭제"
      class="btn"
    />
    <br />
  </form>
  {% endif %} {% empty %}
  <p>No comments here yet :(</p>

  {% endfor %}
  <br />
  <br />
  <!-- {% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %} -->
  <br />
  {% if user.is_authenticated %}
  <h1>댓글작성창</h1>
  <form method="POST" action=".">
    {% csrf_token %}
    <!-- <input type="text" name="add_comment" size="100" height="100"><br><br> -->
    <textarea
      rows="4"
      cols="130"
      name="add_comment"
      placeholder="당신의 의견을 말해주세요"
    ></textarea>
    <br />
    <input
      type="submit"
      name="add_comment_button"
      value="댓글달기"
      class="btn btn-primary"
    />
  </form>
  {% else %}
  <form method="POST" action="{% url 'posts:signin' %}">
    {% csrf_token %}
    <!-- <input type="text" name="add_comment" size="100" height="100"><br><br> -->
    <textarea
      id="comment_input"
      rows="4"
      cols="130"
      name="add_comment"
      placeholder="당신의 의견을 말해주세요"
    ></textarea>
    <br />
    <input
      id="add_comment_button"
      type="submit"
      name="add_comment_button"
      value="댓글달기"
      class="btn btn-primary"
    />
  </form>
  {% endif %}

  <br />
  <br />

  <textarea
    id="comment_input"
    rows="4"
    cols="130"
    name="add_comment"
    placeholder="당신의 의견을 말해주세요"
  ></textarea>
  <br />
  <input
    id="add_comment_button"
    type="submit"
    name="add_comment_button"
    value="댓글달기"
    class="btn btn-primary"
  />

  <fieldset id="search_fieldset">
    <input id="search_input" type="search" />
    <button id="search_button" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </fieldset>

  <script>
    $("#add_comment_button").click(function () {
      var comment_input = $("#comment_input").val();
      var current_url = $(location).attr("pathname");
      console.log(comment_input);
      console.log(current_url);
      $.ajax({
        url: "add_comment/",
        data: { pk: current_url, comment_input: comment_input },
      });
    });

    // $("#comment_input").val();
  </script>

  {% comment %}
  <script>
    $("#search_button").click(function () {
      var search_key_NAME = $("#search_input").val();
      $.ajax({
        url: "search/",
        data: { search_key_NAME11: search_key_NAME },
        success: function (data) {
          $("#data_table").html(data);
        },
      });
    });
  </script>
  {% endcomment %}

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <!-- <form method="POST" action=".">
    {% csrf_token %} {{ form.media }} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">사라마라 질문하기</button>
  </form> -->
</div>
<!--        댓글 공간-->

{% endblock %}
