{% extends 'posts/base.html' %} {% block content %} {% load static %}

<br />
<div class="ask-wrap">
  <br />
  <form method="POST" action="." enctype="multipart/form-data">
    {% csrf_token %} {{ form.media }}

    <br /><br /><br /><br />

    <label for="id_item_image">사진을 선택해주세요</label>

    <input
      type="file"
      name="item_image"
      multiple
      accept="image/*"
      id="gallery-photo-add"
    />

    <br /><br />

    <div class="current_post_image">
      {% for image in images %}
      <img src="{{ image.item_image.url }}" style="width: 100%; height: auto" />
      {% endfor %}
    </div>

    <br /><br />

    <div class="gallery" id="id_item_image"></div>

    <br /><br />

    {{ form.as_p }}

    <br /><br />

    <button type="submit" class="btn btn-primary">질문 수정하기</button>
  </form>

  <br />
</div>
<script>
  $(function () {
    // Multiple images preview in browser
    var imagesPreview = function (input, placeToInsertImagePreview) {
      if (input.files) {
        var filesAmount = input.files.length;

        for (i = 0; i < filesAmount; i++) {
          var reader = new FileReader();

          reader.onload = function (event) {
            $(
              $.parseHTML(
                "<img class='new_images' style='width: 100%; height: auto;'>"
              )
            )
              .attr("src", event.target.result)
              .appendTo(placeToInsertImagePreview);
          };

          reader.readAsDataURL(input.files[i]);
        }
      }
    };

    $("#gallery-photo-add").on("change", function () {
      // document.getElementById("current_post_image").style.display = "none";
      $(".current_post_image").remove();
      $(".new_images").remove();
      imagesPreview(this, "div.gallery");
    });
  });
</script>
{% endblock %}
