{% extends 'posts/base.html' %} {% block content %} {% load static %}

<br />
<div class="ask-wrap">
  <h1>질문 수정하기</h1>
  <form method="POST" action=".">
    {% csrf_token %} {{ form.media }} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">질문 수정하기</button>
  </form>
  <br />
  <br />
</div>

<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor-init.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"
></script>

{% endblock %}
