<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㅅㄹㅁㄹ</title> -->

    <!--    link css file styles.css-->
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body> -->
    <!--    base layout-->
    <!-- <div class="mylayout"> -->
      <!--        site header-->
      <!-- <header>
        <a href="{% url 'posts:index' %}">
          사라마라
        </a>
      </header> -->
      <!--        site header-->

      <!--        floating button nav-->
      <!-- <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="my_page.html">마이페이지</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'posts:ask' %}">질문하기</a>
          <a href="{% url 'posts:index' %}">답해주기</a>
        </div>
      </div> -->
      <!--        floating button nav-->
      <!-- <br /> -->
      <!--        hot items-->
      <!-- <div class="hot-items">
        <h1>이번주 사라마라 인기 아이템1</h1>
        <h1>이번주 사라마라 인기 아이템2</h1>
        <h1>이번주 사라마라 인기 아이템3</h1>
      </div> -->
      <!--        item filter-->
      <!-- <br />
      <h1>상세페이지</h1>
      <br /> -->
      <!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
      <!-- <div>
        <h1>제목, 작성자, 날짜, 사라, 마라, 댓글, 조회수</h1>
      </div> -->
      <!--        각 item detail 이 가지는 기본 정보, 혹은 보여지는 정보를 따로 표시-->
      <!-- <br /> -->
      <!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
      <!-- <div>
        <h1>사진들</h1>
        <br />
        <h1>사진들</h1>
        <br />
        <h1>사진들</h1>
        <br />
        <h1>카테고리</h1>
        <br />
        <h1>브랜드</h1>
        <br />
        <h1>가격</h1>
        <br />
        <h1>링크</h1>
        <br />
        <h1>고민하는 이유</h1>
        <br />
        <h1>투표공간</h1>
        <br />
        <h1>투표결과</h1>
        <br />
        <h1>공유하기</h1>
      </div> -->
      <!--        작성한 내용을 container 라는 div 안에 담아서 표현-->
      <!-- <br /> -->
      <!--        현재의 빈 공간 / 미래의 광고창-->
      <!-- <div>
        <h1>빈 공간</h1>
      </div>
      <br /> -->
      <!--        현재의 빈 공간 / 미래의 광고창-->
      <!--        댓글 공간-->
      <!-- <div>
        <h1>댓글창 with pagination</h1>
        <br />
        <br />
        <br />
        <h1>댓글작성창</h1>
      </div> -->
      <!--        댓글 공간-->

      <!--        site footer-->
      <!-- <footer>
        <h1>copyright 사라마라</h1>
      </footer> -->
      <!--        site footer-->
    <!-- </div> -->

    <!--    link js file myScript1.js-->
    <!-- <script src="myScript1.js"></script> -->
    <!--    link js file myScript1.js-->
  <!-- </body> -->
<!-- </html> -->
