<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㅅㄹㅁㄹ</title> -->

    <!--    link css file styles.css-->
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="myScript1.js"></script>
    <script src="demo.js"></script> -->

    <!--    jquery hide p-->
    <!-- <script>
      $(document).ready(function () {
        $("p").click(function () {
          $(this).hide();
        });
      });
    </script> -->

    <!--    <script type="text/javascript">-->
    <!--        $(document).ready(function() {-->
    <!--            var myElement = $(".check1");-->
    <!--            myElement.text("Hello Sweden!");-->
    <!--        });-->
    <!--    </script>-->

    <!--    <script type="text/javascript">-->
    <!--        function codeAddress() {-->
    <!--            confirm('yes or no');-->
    <!--        }-->
    <!--        window.onload = codeAddress;-->
    <!--    </script>-->
  <!-- </head>
  <body> -->
    <!--    base layout-->
    <!-- <p>ppp</p>
    <div class="mylayout"> -->
      <!--        site header-->
      <!-- <header>
        <a href="item_list.html">
          사라마라
        </a>
      </header> -->
      <!--        site header-->

      <!--        floating button nav-->
      <!-- <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="my_page.html">마이페이지</a>
          <div class="dropdown-divider"></div>
          <a href="item_ask.html">질문하기</a>
          <a href="item_list.html">답해주기</a>
        </div>
      </div> -->
      <!--        floating button nav-->
      <!-- <br /> -->
      <!--        hot items-->
      <!-- <div class="hot-items">
        <h1 class="check1">이번주 사라마라 인기 아이템1</h1>
        <h1>이번주 사라마라 인기 아이템2</h1>
        <h1>이번주 사라마라 인기 아이템3</h1>
      </div> -->
      <!--        item filter-->
      <!-- <br />
      <div class="items-sort">
        <button class="accordion">Filter for itmes</button>
        <div class="panel">
          <p>Add js for DB</p>
        </div>
      </div>
      <br /> -->
      <!--        item filter-->
      <!-- <div class="ask-list">
        <a href="item_ask.html">질문하기</a>
      </div>
      <br /> -->
      <!--        item list-->
      <!-- <div class="items-wrap">
        <a href="item_detail.html">
          <div class="single-item">
            <p>111</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>222</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>333</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>444</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>555</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>666</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>777</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>888</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>999</p>
          </div>
        </a>
        <br />
        <a href="item_detail.html">
          <div class="single-item">
            <p>101010</p>
          </div>
        </a>
      </div> -->
      <!--        item list-->
      <!--        pagination-->
      <!-- <div class="wrap-pagination">
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">&raquo;</a>
        </div>
      </div> -->
      <!--        pagination-->

      <!--        site footer-->
      <!-- <footer>
        <h1>copyright 사라마라</h1>
      </footer> -->
      <!--        site footer-->
    <!-- </div> -->

    <!--    link js file myScript1.js-->
    <!-- <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="myScript1.js"></script>
 -->
    <!--    link js file myScript1.js-->
  <!-- </body>
</html> -->
