{% extends 'posts/base.html' %} {% block content %}
<br />
<h1>마이페이지</h1>
<br />

{% if user.is_authenticated %}
<!--        button onclick 에 2번째 param '도시이름' 부분을 변경할때는 아래쪽 div에 id="도시이름" 부분도 같이 변경해야 js 인식-->
{% comment %}
<div>
  <div id="회원정보">
    <h3>회원정보</h3>
    <img src="{{ user.profile_image.url }}" width="30" height="30" />
    <h4 style="font-size: 2px">사용중인 닉네임 : {{ user.username }}</h4>
    <h4 style="font-size: 2px">
      사라마라 가입일 : {{ user.date_joined|date:"Y년 m월 d일" }}
    </h4>
    <button class="api-btn" onclick="unlinkApp()">앱 탈퇴하기</button>
  </div>
</div>
{% endcomment %}

<br />
<br />
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">
    유저정보
  </button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">작성글</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">댓글</button>
  <button class="tablinks" onclick="openCity(event, 'Seoul')">투표</button>
</div>

<div id="London" class="tabcontent">
  <h3>회원정보</h3>
  <img
    src="{{ user.profile_image.url }}"
    style="max-width: 150px; max-height: 150px; height: auto; width: auto"
  />
  <h4 style="font-size: 10px">사용중인 닉네임 : {{ user.username }}</h4>
  <h4 style="font-size: 10px">
    사라마라 가입일 : {{ user.date_joined|date:"Y년 m월 d일" }}
  </h4>
  <a href="{% url 'posts:upload_image' %}"
    ><button class="api-btn">프로필 변경하기</button></a
  >
  <button class="api-btn" onclick="unlinkApp()">앱 탈퇴하기</button>
</div>

<div id="Paris" class="tabcontent">
  <h3>작성한 포스트</h3>
  <div class="items-wrap">
    {% if user.get_post %}
    <ul
      style="
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      "
    >
      {% for post in user.get_post %}
      <br />
      <a href="{% url 'posts:detail' post.id %}"
        ><div class="single-item">
          {{post.title|upper}} <br />
          {{post.author}}{{post.get_pub_date}}<br />
          댓글 : {{post.comment_cnt}} 사라 : {{post.sara_cnt}} 마라 :
          {{post.mara_cnt}} 조회수 : {{post.view_cnt}}<br />
          {{post.get_pub_date}}<br />
        </div>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>아직 작성글이 없습니다.</p>
    {% endif %}
  </div>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>작성한 댓글</h3>
  {% if user.get_comment %} {% for comment in user.get_comment %}
  <br />
  <a href="{% url 'posts:detail' comment.post.id %}"
    ><div class="single-item">
      {{comment.text|truncatewords:2}} <br />
      {{comment.get_created_date}}<br />
      {{comment.post.title}}<br />
    </div>
  </a>
  {% endfor %} {% else %}
  <p>아직 댓글이 없습니다.</p>
  {% endif %}
</div>

<div id="Seoul" class="tabcontent">
  <h3>회원정보</h3>
  <img src="{{ user.profile_image.url }}" width="30" height="30" />
  <h4 style="font-size: 10px">사용중인 닉네임 : {{ user.username }}</h4>
  <h4 style="font-size: 10px">
    사라마라 가입일 : {{ user.date_joined|date:"Y년 m월 d일" }}
  </h4>
  <button class="api-btn" onclick="unlinkApp()">앱 탈퇴하기</button>
</div>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% else %}
<h1>로그인을 해주세요</h1>
<a id="custom-login-btn" href="javascript:loginWithKakao()">
  <img
    src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
    width="120"
  />
</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endif %} {% endblock %}
