{% extends 'posts/base.html' %} {% block content %}
<br />
<h1>마이페이지</h1>
<br />

{% if user.is_authenticated %}
<div class="tab">
  <button
    class="tablinks"
    onclick="mypage_tabs(event, 'user_info_tab')"
    id="defaultOpen"
  >
    유저정보
  </button>
  <button class="tablinks" onclick="mypage_tabs(event, 'post_created')">
    작성글
  </button>
  <button class="tablinks" onclick="mypage_tabs(event, 'comment_created')">
    댓글
  </button>
  <button class="tablinks" onclick="mypage_tabs(event, 'vote_created')">
    투표
  </button>
</div>

<div id="user_info_tab" class="tabcontent">
  <h3>회원정보</h3>
  <img
    src="{{ user.profile_image.url }}"
    style="max-width: 150px; max-height: 150px; height: auto; width: auto"
  />
  <h4 style="font-size: 10px">사용중인 닉네임 : {{ user.username }}</h4>
  <h4 style="font-size: 10px">
    사라마라 가입일 : {{ user.date_joined|date:"Y년 m월 d일" }}
  </h4>

  <a href="{% url 'posts:user_profile' %}"
    ><button class="api-btn">프로필 변경하기</button></a
  >
  <button onclick="javascript:logoutWithKakao()">로그아웃</button>
  <button class="api-btn" onclick="unlinkApp()">탈퇴하기</button>
</div>

<div id="post_created" class="tabcontent">
  <h3>작성한 게시글</h3>
  <div class="items-wrap">
    {% if user.get_post %}
    <ul
      style="
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      "
    >
      {% for post in user.get_post %}
      <br />
      <a href="{% url 'posts:detail' post.id %}"
        ><div class="single-item">
          {{post.title|upper}} <br />
          {{post.author}}{{post.get_pub_date}}<br />
          댓글 : {{post.comment_cnt}} 사라 : {{post.sara_cnt}} 마라 :
          {{post.mara_cnt}} 조회수 : {{post.view_cnt}}<br />
          {{post.get_pub_date}}<br />
        </div>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>아직 작성글이 없습니다.</p>
    {% endif %}
  </div>
</div>

<div id="comment_created" class="tabcontent">
  <h3>작성한 댓글</h3>
  {% if user.get_comment %} {% for comment in user.get_comment %}
  <br />
  <a href="{% url 'posts:detail' comment.post.id %}"
    ><div class="single-item">
      {{comment.text|truncatewords:2}} <br />
      {{comment.get_created_date}}<br />
      {{comment.post.title}}<br />
    </div>
  </a>
  {% endfor %} {% else %}
  <p>아직 댓글이 없습니다.</p>
  {% endif %}
</div>

<div id="vote_created" class="tabcontent">
  <h3>투표한 게시글</h3>
  <div class="items-wrap">
    {% if user.get_post %}
    <ul
      style="
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
      "
    >
      {% for post in user.get_vote %}
      <br />
      <a href="{% url 'posts:detail' post.id %}"
        ><div class="single-item">
          {{post.title|upper}} <br />
          {{post.author}}{{post.get_pub_date}}<br />
          {% if user in post.get_sara_users %} 사라에 유저가 투표함{% endif %}
          {% if user in post.get_mara_users %} 마라에 유저가 투표함 {% endif %}
          댓글 : {{post.comment_cnt}} 사라 : {{post.sara_cnt}} 마라 :
          {{post.mara_cnt}} 조회수 : {{post.view_cnt}}<br />
          {{post.get_pub_date}}<br />
          {% if user in post.sara_users %} 사라투표함 {% elif user in
          post.mara_users %} 마라투표함 {% endif %}
        </div>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <p>아직 작성글이 없습니다.</p>
    {% endif %}
  </div>
</div>

<script>
  function mypage_tabs(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>

<br />

{% else %}
<h1>로그인을 해주세요</h1>
<a id="custom-login-btn" href="javascript:loginWithKakao()">
  <img
    src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
    width="120"
  />
</a>

<br />

{% endif %} {% endblock %}
