{% extends 'posts/base.html' %} {% block content %}{% load static %}
<body>
  <form method="POST" enctype="multipart/form-data" id="imageForm">
    {% csrf_token %}
    <p>
      <label for="image">Profile image:</label>
      <input
        type="file"
        name="profile_image"
        multiple
        id="image"
        accept="image/*"
        required=""
        onchange="readURL(this);"
      />
    </p>
    {% comment %}
    <img
      class="file-upload-image"
      src="{{ user.profile_image.url }}"
      alt="your image"
      width="240"
      onclick="$('.file-upload-input').trigger( 'click' )"
    />
    {% endcomment %}
    {% comment %} <input
      type="button"
      id="submit"
      value="submit"
      onclick="confirmNewImage()"
    />
  </form> {% endcomment %}
  
  {% comment %} {%for i in up %} {{i}}
  <img src="{{i.img.url}}" , alt="" />
  {%endfor%} {% endcomment %}
  <div class="image-upload-wrap">
    <input
      id="image"
      class="file-upload-input"
      type="file"
      onchange="readURL(this);"
      accept="image/*"
      style="display: none"
    />
  </div>
  <div class="file-upload-content">
    <img
      style="display: none"
      class="file-upload-image"
      src="{{ user.profile_image.url }}"
      alt="your image"
      width="240"
      onclick="$('.file-upload-input').trigger( 'click' )"
    />
  </div>

  <button id="showImages" style="display: none"></button>
  <img
    class="file-upload-image"
    src="{{ user.profile_image.url }}"
    alt="your
  image"
    style="max-width: 80%; max-height: 80%; height: auto; width: auto"
  />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div id="imageField"></div>

  <div class="image-upload-wrap" style="display: none">
    <input
      id="image"
      class="file-upload-input"
      type="file"
      onchange="readURL(this);"
      accept="image/*"
      style="display: block"
    />
  </div>

  <br />
  <br />
  <input
    type="text"
    class="form-control"
    minlength="4"
    maxlength="16"
    id="username_input"
    {% comment %} placeholder="{{ user.username }}" {% endcomment %}
    name="username"
    value="{{ user.username }}"
    style="width: 240px; margin: 0 auto"
  />
  <p id="check_duplicated">사용가능한 닉네임인지 확인해주세요</p>
  <br />

  {% comment %} <input
    id="change_username"
    type="submit"
    name="change_username"
    value="사용하기"
    class="btn btn-primary"
  /> {% endcomment %}
  <button type="button"
      id="check_duplicated"
      value="중복확인" class="btn btn-primary" onclick="confirmNewNickname()"> 
    중복확인
  </button>
 {% comment %} onclick="movehome()" {% endcomment %}
  <br />
  <br />
  <br />
  <br />

  <button type="button"
      id="submit_profile"
      value="submit" class="btn btn-primary" > 
      {% comment %} onclick="movehome()" {% endcomment %}
    사라마라 시작하기
  </button>
  {% comment %} <input
      type="button"
      id="submit"
      value="submit"
      onclick="confirmNewImage()"
    /> {% endcomment %}
  </form>
</body>

<script>
  function movehome() {
    window.location.replace("http://192.168.219.159:8000/");
  }
</script>
<script>
  //document.getElementById("imageForm").onclick = function () {
  document.getElementById("submit_profile").onclick = function () {
    $.ajax({
      url: "/add_image/",
      method: "POST",
      data: new FormData(imageForm),
      processData: false,
      contentType: false,
    }).done(function () {
        window.location.replace("http://192.168.219.159:8000");
      });
  };
</script>

<script>
  document.getElementById("showImages").onclick = function () {
    $.ajax({
      url: "/get_images/",
      method: "GET",
      success: function (data) {
        console.log(data["image_urls"]);
        imageField = document.querySelector("#imageField");
        imageField.appendChild(CreateImage(data["image_urls"]));
      },
    });
  };
  function CreateImage(src) {
    let img = document.createElement("img");
    console.log(src);
    img.src = src;
    img.className = "imageSize";
    return img;
  }
</script>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      form_data = new FormData();

      reader.onload = function (e) {
        $(".image-upload-wrap").hide();
        $(".file-upload-image").attr("src", e.target.result);

        $(".file-upload-content").show();
        $(".image-title").html(input.files[0].name);
      };

      reader.readAsDataURL(input.files[0]);
    } else {
      removeUpload();
    }
  }
</script>

<script>
  function removeUpload() {
    $(".file-upload-input").replaceWith($(".file-upload-input").clone());
    //$(".file-upload-content").hide();
    //$(".file-upload-content").show();
    $(".file-upload-image").attr("src", "{{ user.profile_image.url }}");
    $(".image-upload-wrap").hide();
    //$(".image-upload-wrap").show();
  }
</script>
<script type="text/javascript">
  $("#change_username").click(function () {
    var username_input = $("#username_input").val();
    if (username_input.length < 4 || username_input.length > 16) {
      $("#check_duplicated").text("4~16자리로 변경 가능합니다.");
    } else {
      $.ajax({
        url: "/user_info/",
        data: { username_input: username_input },
      }).done(function (res) {
        //if else 로 username 아래쪽에 가능하면 사용가능한 닉네임입니다.
        // 불가능하면, 이미 사용중인 닉네임입니다. 를 띄우기
        //location.reload();
        if (Object.keys(res).length == 1) {
          // 이미 사용중인 아이디
          $("#check_duplicated").text("원하시는 아이디로 등록해드렸어요 :)");
        } else {
          // 사용 가능한 아이디
          $("#check_duplicated").text("이미 사용중에요 :(");
        }
      });
    }
  });
</script>
<script>
    function confirmNewImage() {
      alert("프로필 사진이 변경되었습니다.");
    }
  </script>
<script>
    function confirmNewNickname() {
      var username_input = $("#username_input").val();
      if (username_input.length < 4 || username_input.length > 16) {
      $("#check_duplicated").text("4~16자리로 변경 가능합니다.");
      } else {
        $.ajax({
          url: "/upload_image/",
          data: { username_input: username_input },
        }).done(function (res) {
          //if else 로 username 아래쪽에 가능하면 사용가능한 닉네임입니다.
          // 불가능하면, 이미 사용중인 닉네임입니다. 를 띄우기
          //location.reload();
          if (Object.keys(res).length == 1) {
            // 이미 사용중인 아이디
            $("#check_duplicated").text("사용가능한 닉네임이에요 :)");
          } else {
            // 사용 가능한 아이디
            $("#check_duplicated").text("이미 사용중인 닉네임이에요 :(");
          }
        });
      }
    }
  </script>
{% endblock %}
