<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㅅㄹㅁㄹ</title>

    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap cdn -->
  </head>

  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h1>프로필 사진과 닉네임을 설정해주세요</h1>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </div>

    <div class="row mt-5">
      <div class="col-12">{{ error }}</div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <div class="file-upload">
          <button
            class="file-upload-btn"
            type="button"
            onclick="$('.file-upload-input').trigger( 'click' )"
          >
            프로필사진 선택하기
          </button>

          <div class="image-upload-wrap">
            <input
              id="image"
              class="file-upload-input"
              type="file"
              onchange="readURL(this);"
              accept="image/*"
              style="display: none"
            />
          </div>

          <div class="file-upload-content">
            <img
              class="file-upload-image"
              src="{{ user.profile_image.url }}"
              alt="your image"
              width="240"
            />
            <div class="image-title-wrap">
              <button
                type="button"
                onclick="uploadWithAjax()"
                class="remove-image"
              >
                선택한 사진 등록하기
              </button>
            </div>
            <div class="image-title-wrap">
              <button
                type="button"
                onclick="removeUpload()"
                class="remove-image"
              >
                프로필사진 삭제하기
              </button>
            </div>
          </div>

          {% comment %} 프로필 사진 변경 {% endcomment %}
          <br />
          <br />

          <input
            type="text"
            class="form-control"
            id="username_input"
            placeholder="{{ user.username }}"
            name="username"
            value="{{ user.username }}"
            style="width: 240px; margin: 0 auto"
          />
          <p id="check_duplicated">사용가능한 닉네임인지 확인해주세요</p>
          <br />

          <input
            id="change_username"
            type="submit"
            name="change_username"
            value="사용하기"
            class="btn btn-primary"
          />

          <script type="text/javascript">
            $("#change_username").click(function () {
              var username_input = $("#username_input").val();
              $.ajax({
                url: "/user_info/",
                data: { username_input: username_input },
              }).done(function (res) {
                //if else 로 username 아래쪽에 가능하면 사용가능한 닉네임입니다.
                // 불가능하면, 이미 사용중인 닉네임입니다. 를 띄우기
                //location.reload();
                if (Object.keys(res).length == 1) {
                  // 이미 사용중인 아이디
                  $("#check_duplicated").text(
                    "원하시는 아이디로 등록해드렸어요 :)"
                  );
                } else {
                  // 사용 가능한 아이디
                  $("#check_duplicated").text("이미 사용중에요 :(");
                }
              });
            });
          </script>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <form action="http://127.0.0.1:8000/">
            <button type="submit" class="btn btn-primary">
              사라마라 시작하러 가기 {% comment %} form POST 로 바꿔서 보내서
              여기에서 저장해야함 {% endcomment %}
            </button>
          </form>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      form_data = new FormData();

      reader.onload = function (e) {
        $(".image-upload-wrap").hide();
        $(".file-upload-image").attr("src", e.target.result);
        console.log(e.target.result);
        form_data.append("image", e.target.result);
        form_data.append("image1", input.files[0]);
        form_data.append("image2", input.files);
        // 위에 e.target.result가 새로 바뀐 이미지인거 같은데?
        $(".file-upload-content").show();
        $(".image-title").html(input.files[0].name);
        $.ajax({
          type: "POST",
          url: "/UploadImage/",
          data: form_data,
          processData: false,
          success: function (result) {
            alert("IMAGES UPLOADED");
          },
          error: function (data) {
            console.log("error");
            console.log(data);
          },
        });
      };

      reader.readAsDataURL(input.files[0]);
    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $(".file-upload-input").replaceWith($(".file-upload-input").clone());
    //$(".file-upload-content").hide();
    //$(".file-upload-content").show();
    $(".file-upload-image").attr("src", "{{ user.profile_image.url }}");
    $(".image-upload-wrap").hide();
    //$(".image-upload-wrap").show();
  }
  $(".image-upload-wrap").bind("dragover", function () {
    $(".image-upload-wrap").addClass("image-dropping");
  });
  $(".image-upload-wrap").bind("dragleave", function () {
    $(".image-upload-wrap").removeClass("image-dropping");
  });

  function uploadWithAjax() {
    console.log("called");
    console.log($("#image"));
    var file = $("#image").prop("files");
    console.log(file);

    form_data = new FormData();
    form_data.append("image", file);
    console.log(form_data);

    $.ajax({
      type: "POST",
      url: "/UploadImage/",
      data: form_data, //{ images: file },
      //contentType: false,
      //cache: false,
      //method: "POST",
      //contentType: "multipart/form-data",
      processData: false,
      //dataType: "multipart/form-data",

      success: function (result) {
        alert("IMAGES UPLOADED");
      },
      error: function (data) {
        console.log("error");
        console.log(data);
      },
    });
  }
</script>
