{% extends 'posts/base.html' %} {% block content %}{% load static %}
<body>
  <br />
  <form method="POST" enctype="multipart/form-data" id="imageForm">
    {% csrf_token %}

    <br />

    <input
      type="file"
      name="profile_image"
      id="image"
      accept="image/*"
      required=""
      onchange="readURL(this);"
    />

    <br />

    <img
      class="file-upload-image"
      src="{{ user.profile_image.url }}"
      alt="yourimage"
      style="max-width: 80%; max-height: 80%; height: auto; width: auto"
    />

    <br />

    <input
      type="text"
      class="form-control"
      minlength="4"
      maxlength="16"
      id="username_input"
      placeholder="닉네임을 입력해주세요"
      name="username"
      value="{{ user.username }}"
      style="width: 240px; margin: 0 auto"
      onkeyup="noSpaceForm(this);"
      onchange="noSpaceForm(this);"
    />

    <p id="check_duplicated">사용가능한 닉네임인지 확인해주세요</p>

    <br />

    <button
      type="button"
      id="check_duplicated"
      value="중복확인"
      class="btn btn-primary"
      onclick="confirmNewNickname()"
    >
      중복확인
    </button>

    <br /><br />

    <button
      type="button"
      id="submit_profile"
      value="submit"
      class="btn btn-primary"
    >
      사라마라 시작하기
    </button>
  </form>
</body>
{% endblock %}
