<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ㅅㄹㅁㄹ</title>

    <!-- bootstrap cdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap cdn -->
  </head>

  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h1>프로필 사진과 닉네임을 설정해주세요</h1>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      {% comment %}
      <script
        class="jsbin"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
      ></script>
      {% endcomment %}
    </div>

    <div class="row mt-5">
      <div class="col-12">{{ error }}</div>
    </div>
    <div class="row mt-5">
      <div class="col-12 text-center">
        {% comment %} 프로필 사진 변경 {% endcomment %}
        <div class="file-upload">
          <button
            class="file-upload-btn"
            type="button"
            onclick="$('.file-upload-input').trigger( 'click' )"
          >
            프로필사진 변경하기
          </button>
          <div class="image-upload-wrap">
            <input
              class="file-upload-input"
              type="file"
              onchange="readURL(this);"
              accept="image/*"
              style="display: none"
            />
          </div>
          <div class="file-upload-content">
            <img
              class="file-upload-image"
              src="{{ user.profile_image.url }}"
              alt="your image"
              width="240"
            />
            <div class="image-title-wrap">
              <button
                type="button"
                onclick="removeUpload()"
                class="remove-image"
              >
                프로필사진 삭제하기 {% comment %}
                <span class="image-title">Uploaded Image</span> {% endcomment %}
              </button>
            </div>
          </div>
          {% comment %} 프로필 사진 변경 {% endcomment %}
          <br />
          <br />

          {% comment %}
          <form
            method="POST"
            action="{% url user_info %}"
            enctype="multipart/form-data"
          >
            <div class="controls">
              <input type="file" name="image" />
            </div>
            <input type="submit" />
          </form>
          {% endcomment %}

          <form method="POST" enctype="multipart/form-data" action=".">
            <div class="form-group">
              {% csrf_token %} {{ form.media }} {{ form.as_p }}
              <input
                type="text"
                class="form-control"
                id="username_input"
                placeholder="{{ user.username }}"
                name="username"
                value="{{ user.username }}"
                style="width: 240px; margin: 0 auto"
              />
              <p>사용가능한 닉네임인지 확인해주세요</p>
              <br />

              <input
                id="change_username"
                type="submit"
                name="change_username"
                value="중복확인"
                class="btn btn-primary"
              />
            </div>

            <script>
              $("#change_username").click(function () {
                var username_input = $("#username_input").val();
                $.ajax({
                  url: "user_info/", //"/add_comment/",
                  data: { username_input: username_input },
                }).done(function () {
                  //if else 로 username 아래쪽에 가능하면 사용가능한 닉네임입니다.
                  // 불가능하면, 이미 사용중인 닉네임입니다. 를 띄우기
                  //location.reload();
                  //$("#comment_input").val("");
                });
              });
            </script>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <button type="submit" class="btn btn-primary">
              사라마라 시작하러 가기 {% comment %} form POST 로 바꿔서 보내서
              여기에서 저장해야함 {% endcomment %}
            </button>
          </form>
        </div>
      </div>
    </div>
    <br />
  </body>
</html>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $(".image-upload-wrap").hide();

        $(".file-upload-image").attr("src", e.target.result);
        console.log(e.target.result);
        // 위에 e.target.result가 새로 바뀐 이미지인거 같은데?
        $(".file-upload-content").show();

        $(".image-title").html(input.files[0].name);
      };

      reader.readAsDataURL(input.files[0]);
    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $(".file-upload-input").replaceWith($(".file-upload-input").clone());
    //$(".file-upload-content").hide();
    //$(".file-upload-content").show();
    $(".file-upload-image").attr("src", "{{ user.profile_image.url }}");
    $(".image-upload-wrap").hide();
    //$(".image-upload-wrap").show();
  }
  $(".image-upload-wrap").bind("dragover", function () {
    $(".image-upload-wrap").addClass("image-dropping");
  });
  $(".image-upload-wrap").bind("dragleave", function () {
    $(".image-upload-wrap").removeClass("image-dropping");
  });
</script>
